@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
}

/* Navbar */

header {
  display: inline;
  text-align: center;
}

header .jumbotron {
  display: flex;
  padding: 30px;
  text-align: center;
  color: white;
  background-color: #e8e8e8;
}

header nav {
  top: 0;
  padding: 5px;
  position: sticky;
  background-color: #0f3b08;
  z-index: 20;
}

header nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

header nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-size: 20px;
  margin: 20px 20px 0px 20px;
}

main div {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

main div #barcode img {
  width: 200px;
}

button {
  color: #ffffff !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 15px 30px;
  border-radius: 10px;
  border: 0px solid #3866a3;
  background: #418e02;
}

button:hover {
  color: #ffffff !important;
  background: #316b02;
}

.bt-datapenumpang,
.bt-datapengemudi {
  padding: 30px 45px;
  margin-top: 10px;
  margin-left: 20px;
}

.cardlanding {
  margin: 50px;
  margin-top: 20px;
  padding: 15px 30px 30px 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}

.logolanding,
.textlanding {
  flex: 1;
}

.logolanding {
  align-self: center;
  justify-self: center;
}

.logokepalalanding {
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardlanding > p {
  width: 40vw;
}

.mulailanding {
  padding-top: 5vh;
}

.card {
  margin: 50px;
  margin-top: 20px;
  padding: 15px 30px 30px 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#lokasi-angkot {
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

#lokasi-angkot .card {
  margin-right: 15px;
}

#lokasi-angkot .card img {
  width: 250px;
  height: 165px;
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
  padding: 10px;
  text-align: center;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: none;
  /* Mulai dengan notifikasi tersembunyi */
  opacity: 0;
  /* Mulai dengan keadaan transparan */
  transition: opacity 0.3s ease-in-out;
  /* Animasi transisi opacity */
}

.notification.show {
  display: block;
  /* Menampilkan notifikasi ketika memiliki kelas "show" */
  opacity: 1;
  /* Mengubah ke transparan penuh */
}

.mini_map {
  width: 250;
  height: 165;
  border-radius: 15px;
  overflow: hidden;
}
